{% extends 'main/base.html' %}

{% block content %}
<div class="header">
    <h3 style="padding: 20px;">Prijava je bila uspešna!</h3>
    <hr>
</div>
<div class="after-form">
    <h4>Vaši podatki: </h4>
    <br>
    <p><b>EMšO: </b>{{ person.emso }}</p>
    <p><b>IME: </b>{{ person.nameInitial }}</p>
    <p><b>PRIIMEK: </b>{{ person.surnameInitial }}</p>
    <p><b>E-MAIL: </b>{{ person.email }}</p>
    <p><b>DATUM PRIJAVE: </b>{{ date }}</p>
    <br><br>
    <a href="/">Nazaj na obrazec za prijavo</a>
</div>
{% endblock %}
